.feature-list {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  align-items: center;
}

.feature-list-item {
  display: flex;
  flex-direction: column;
  font-size: 1.375rem;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(270deg, #B3E5FC 0%, #C8E6C9 100%);
  align-items: center;
  justify-content: center;
  color: white;
  border: 10px solid #f6fbfa;
  box-sizing: content-box;
  position: relative;

  svg {
    width: 60px;
    height: 60px;
    margin: 0.75rem;
  }

}

.feature-list-item::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  margin: -11px;
  border-radius: inherit;
  background: linear-gradient(270deg, #B3E5FC 0%, #C8E6C9 100%);
}

.feature-list-split {
  width: 2px;
  height: 100px;
  background: linear-gradient(270deg, #B3E5FC 0%, #C8E6C9 100%);
  margin: 0 100px;
}
