.translate-demo {
  width: 800px;
  margin: 0 auto;

}

.translate-demo-card {
  position: relative;
  width: 100%;
  padding: 0 30px;
  background: linear-gradient(270deg, #B3E5FC 0%, #C8E6C9 100%);
  border-radius: 24px;

}

.translate-demo-card-body {

  .translate-demo-textarea-wrapper {
    position: relative;
    padding: 4px;
    background: linear-gradient(270deg, #93E196 0%, #71D2FF 100%) !important;
    border-radius: 8px;
  }

  .textarea {
    width: 100%;
    min-height: 300px;
    max-height: 300px;
    border-radius: 8px;
    padding: 1.2rem 1.5rem;
    font-size: 1.5rem;
    background-color: white;
    color: #000000B3;

    em {
      font-style: normal;
      background-color: #d7e9fb;
      text-decoration: underline;
      text-decoration-color: #235696;
      text-decoration-style: none;
    }

  }

  .translate-demo-textarea-counter {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    color: #000000CC;
  }

  [placeholder]:empty:before {
    content: attr(placeholder);
    color: #00000080;
  }
}


.translate-demo-card-header {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  .ant-select-selector {
    border-radius: 20px !important;
    color: #477840;
  }

}

.translate-demo-card-footer {
  padding: 15px 0;
  display: flex;
  justify-content: flex-end;
}


.translate-demo-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: -20px;
  z-index: -1;
  border-radius: inherit;
  background: linear-gradient(270deg, #B3E5FC1A 0%, #C8E6C91A 100%);
}
